extends layout/template

block vars

block head
	//+loadCSS('/css/promo.css')

block content
	.index
		.index__wrap
			canvas#canvas(width="640" height="360")
		a#downloader.index__btn.js-save-canvas-btn(href='#' download="image.png") сохранить
		//- a.index__btn(href='/miniature-pug.jpg' download) сохранить


block footer
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
	script(src="/js/main.bundle.js")